.forum-top {
    /*background-color: #428bca;*/
    background-color: #3780BF;
    box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

.forum-top .forum-top-item {
    display: inline-block;
    padding: 10px;
    color: white;
}

.forum-right div {
    display: inline;
}

.forum-nav {
    display: inline;
    float: left;
}

.forum-post {
    position: relative;
}

.forum-post-heading div {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 90%;
}

.forum-profile-info-panel .row {
    padding: 5px 0 5px 0;
}

.forum-profile-info-header {
    font-weight: bold;
    text-align: right;
}

.panel-primary .forum-post-heading a {
    color: white;
}

.forum-right {
    float: right;
}

.forum-clear {
    clear: both;
}

.topic-table td {
    overflow: hidden;
}